{% extends 'base.html.twig' %}

{% block sidebar %}
	{% include 'sideBar.html.twig' with {
        'items': templates|map(template => {
            'name': template.name,
            'id': template.id,
            'primary': template.data.primaryColor,
            'secondary': template.data.secondaryColor,
        }),
        'noPlus' : true,
    } %}
{% endblock %}

{% block body %}
	<div class="cardTemplate">
		<div class="presentationCard">
			<h3>Titre</h3>
			<div class="allColors">
				<div class="primaryColor showColor" style="background-color: red;"></div>
				<div class="secondaryColor showColor" style="background-color: blue;"></div>
				<div class="blackColor showColor" style="background-color: green;"></div>
				<div class="witheColor showColor" style="background-color: black;"></div>
			</div>
		</div>
		<div class="informationCard">
			<div class="infosColumn">
				<div class="infos">
					<p>Navigation collé</p>
					<i class="gg-check-o"></i>
				</div>
				<div class="infos">
					<p>Inversion des colonnes</p>
					<i class="gg-check-o"></i>
				</div>
				<div class="infos">
					<p>Bouton spécial achat</p>
					<i class="gg-check-o"></i>
				</div>
			</div>
			<div class="infosColumn">
				<div class="infos">
					<p>Contact carte</p>
					<i class="gg-close-o"></i>
				</div>
				<div class="infos">
					<p>Liste déroulante</p>
					<i class="gg-close-o"></i>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block javascript %}
	<script type="module" src="/js/template/details.js"></script>
{% endblock %}

