{% extends 'base.html.twig' %}

{% block sidebar %}
	{% include 'sideBar.html.twig' with {
        'items': templates|map(template => {
            'name': template.name,
            'id': template.id,
            'primary': template.data.primaryColor,
            'secondary': template.data.secondaryColor,
        }),
        'noPlus' : true,
    } %}
{% endblock %}

{% block body %}
	<div class="cardTemplate">
		<div class="presentationCard">
			<h3 id="titleTemplate">titre</h3>
			<div class="allColors">
				<div class="primaryColor showColor"></div>
				<div class="secondaryColor showColor" ></div>
				<div class="blackColor showColor"></div>
				<div class="witheColor showColor"></div>
			</div>
		</div>
		<div class="informationCard">
			<div class="infosColumn">
				<div class="infos stickyHeader">
					<p>Navigation collé</p>

				</div>
				<div class="infos reverseRow">
					<p>Inversion des colonnes</p>

				</div>
				<div class="infos specialButton">
					<p>Bouton spécial achat</p>

				</div>
			</div>
			<div class="infosColumn">
				<div class="infos mapFirst">
					<p>Contact carte</p>

				</div>
				<div class="infos selecttoCheckBox">
					<p>Liste déroulante</p>

				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block javascript %}
	<script type="module" src="/js/template/import.js"></script>
{% endblock %}

