{% extends 'base.html.twig' %}

{% block sidebar %}
    {% include 'sideBar.html.twig' with {
        'items': templates|map(template => {
            'name': template.name,
            'id': template.id,
            'primary': template.data.primaryColor,
            'secondary': template.data.secondaryColor,
        }),
        'noPlus' : true,
    } %}
{% endblock %}

{% block body %}
<div class="cardTemplate">
  <div class="allCalor">
    <div class="primaryColor" style="background-color: red;"></div>
    <div class="secondaryColor" style="background-color: blue;"></div>
    <div class="blackColor" style="background-color: green;"></div>
    <div class="witheColor" style="background-color: black;"></div>
  </div>
  
</div>
  
{% endblock %}

{% block javascript %}
<script type="module" src="/js/template/details.js"></script>
{% endblock %}
