{% extends 'base.html.twig' %}

{% block sidebar %}
	{% include 'sideBar.html.twig' with {
        'items': templates|map(template => {
            'name': template.name,
            'id': template.id,
            'primary': template.data.primaryColor,
            'secondary': template.data.secondaryColor,
        }),
        'noPlus' : true,
    } %}
{% endblock %}

{% block body %}
	<div id="templateDetails">
		<div class="cardTemplate">
			<div class="presentationCard">
				<h3 id="titleTemplate">titre</h3>
				<div class="allColors">
					<div class="primaryColor showColor"></div>
					<div class="secondaryColor showColor"></div>
					<div class="blackColor showColor"></div>
					<div class="witheColor showColor"></div>
				</div>
			</div>
			<div class="informationCard">
				<div class="infosColumn">
					<div class="infos stickyHeader">
						<p>Navigation collé</p>

					</div>
					<div class="infos reverseRow">
						<p>Inversion des colonnes</p>

					</div>
					<div class="infos specialButton">
						<p>Bouton spécial achat</p>

					</div>
				</div>
				<div class="infosColumn">
					<div class="infos mapFirst">
						<p>Contact carte</p>

					</div>
					<div class="infos selecttoCheckBox">
						<p>Liste déroulante</p>

					</div>
				</div>
			</div>
		</div>
		<div id="templateStat">
			<div class="templateSession">
				<div class="container_canvas" id="templateChart">
					<canvas id="sessionsChart"></canvas>
				</div>
			</div>

			<div class="averageTime">
				<h4>Temps moyen</h4>
				<h3></h3>
				<div class="TemplateTime">
					<p class="minTime">min :</p>
					<p class="maxTime">max :</p>
				</div>
			</div>


			<div class="averageClick">
				<h4>Clics moyen</h4>
				<h3></h3>
				<div class="TemplateClick">
					<p class="minClick">min :</p>
					<p class="maxClick">max :</p>
				</div>
			</div>

			<button id="details">Details</button>
		</div>
		<div id="statPersonatemplate">
			<h4>Objectifs : </h4>
			<div id="statSessionTemplateArea"></div>
		</div>
	</div>
{% endblock %}
{% block javascript %}
	<script type="module" src="/js/template/import.js"></script>
{% endblock %}
