{# templates/base.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}LesZieuxSurLeSite{% endblock %}</title>
        <link href="/css/dashboard/import.css" rel="stylesheet">
        <script type="module" src="/js/dashboard/import.js"></script>
    </head>
    <body>
        <div id="sidebar">
            {% block sidebar %}

            {% endblock %}
        </div>

        <div id="content">
            {% block body %}{% endblock %}
        </div>
    </body>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</html>
