{# templates/base.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}LesZieuxSurLeSite{% endblock %}</title>
        <link href="/css/import.css" rel="stylesheet">
        
    </head>
    <body>
        <header>
            {% block backButton %}{% endblock %}
            <a href="{{ path('dashboard') }}">
                <h1>Les zyeux sur le site</h1>
            </a>

        </header>
        <div id="dashboardContent">
            {% block sidebar %}{% endblock %}

            {% block body %}{% endblock %}
        </div>
    </body>
    {% block javascript %}
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/js/general.js"></script>
</html>
