<div>
    <button onclick="launchSession()" id="launchButton">Lancer session</button>
    {% set iterables = personas ?? templates ?? null %}
    {% if iterables %}
        <div>
            <input name="entityType" type="hidden" value="{{ personas is defined ? 'persona' : 'template' }}">
            <select name="entityForLaunch">
                <option value="">Aléatoire</option>
                {% for iterable in iterables %}
                    <option value="{{ iterable.id }}">{{ iterable.name }}</option>
                {% endfor %}
            </select>
        </div>
    {% endif %}
</div>

