<style>
    .gotoElement { color: black; text-decoration: none; }
    .gotoElement:hover { filter: brightness(85%); }
</style>

<div class="filtre_persona filtre card side-bar">
    {% if items is empty %}
        <p class="no_result">Aucun résultat</p>
    {% endif %}
    {% for item in items %}
        {# le premier élément prend en classe active #}
        <div class="persona element_filtre {% if loop.first %}active{% endif %}">
            <p class="nom_persona nom_element" data-bs-target="{{ item.id }}">{{ item.name }}</p>
        </div>
    {% endfor %}
    <a data-bs-target class="gotoPersonas gotoElement" id="sidebar-add">+</a>
</div>

{% block javascript %}
    <script type="module" src="/js/sideBar.js"></script>
{% endblock %}
