<div class="filtre card">
    {% if items is empty %}
        <p class="no_result">Aucun résultat</p>
    {% endif %}
    {% for item in items %}
        {# le premier élément prend en classe active #}
        <div class="element_filtre {% if loop.first %}active{% endif %}">
            <p class="nom_element" data-bs-target="{{ item.id }}">{{ item.name }}</p>
        </div>
    {% endfor %}
    <a class="gotoElement">+</a>
</div>
