<div class="filtre_sessions card">
    {% if sessions is empty %}
        <p class="no_result">Aucun résultat</p>
    {% endif %}
    {% for session in sessions %}
        {# le premier élément prend en classe active #}
        {% if loop.first %}
            <div class="session active">
                <p class="nom_session" data-bs-target="{{ session.id }}">{{ session.name }}</p>
            </div>
        {% else %}
            <div class="session">
                <p class="nom_session" data-bs-target="{{ session.id }}">{{ session.name }}</p>
            </div>
        {% endif %}
    {% endfor %}
</div>
