{% extends 'base.html.twig' %}

{% block sidebar %}
    {% include 'sideBar.html.twig' with {
        'items' : personas,
    } %}
{% endblock %}

{% block body %}
    <div id="formPersona">
        {% include 'persona/form.html.twig' with {
            persona : personas|first
        } %}
    </div>
{% endblock %}

{% block javascript %}
    <script type="module" src="/js/persona_form/import.js"></script>
{% endblock %}
