{% extends 'base.html.twig' %}

{% block sidebar %}
    {% include 'sideBar.html.twig' with {
        'items' : sessions|map(session => {
            id : session.id,
            name : session.title
        })
    } %}
{% endblock %}

{% block body %}

    <div class="card persona_statistique">
        <div class="container_detail">
            <div id="data">
                <div class="container_stat_persona">
                    <div class="card-header">
                        <h2 id="name_session">Session 1</h2>
                        <p class="date_session" id="date_session">12/08/2023</p>
                    </div>
                    <div class="stat_persona">
                        <p id="name_persona">Persona : </p>
                    </div>
                    <div class="stat_persona">
                        <p id="duree_session">Durée de la sessions : </p>
                    </div>
                    <div class="stat_persona">
                        <p id="nom_template">Template : </p>
                    </div>
                    <div class="stat_persona">
                        <p id="nombre_clique">Nombre de clique : </p>
                    </div>
                </div>
            </div>
            <div class="button_hitmap">
                <button class="button" id="button_hitmap">Heatmap</button>
            </div>
        </div>
        <div class="container_canvas" id="chart">
            <canvas id="myChart"></canvas>
        </div>
    </div>

    </div>

{% endblock %}

{% block javascript %}
<script type="module" src="/js/persona_show/import.js"></script>
{% endblock %}
