.persona_statistique{
    margin: 10px;
    width: 75% !important;
    position: relative;
}
.card-header{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}
.persona_statistique h2{
    font-size: 1.5em;
    font-weight: bold;
    color: #000;
    margin-bottom: 10px;
}

.persona_statistique p.date_session{
    font-size: 1.2em;
    font-weight: bold;
    color: #000;
    margin-bottom: 10px;
}
.persona_statistique .button_hitmap{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.container_stat_persona p{
    font-size: 1em;
    font-weight: bold;
    color: #9b9b9b;
    margin-bottom: 10px;
}
.container_stat_persona{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container_detail{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
}
#chart{
    padding: 0px;
}
.button_hitmap{
    position: absolute;
    bottom: 2%;
    left: -14%;L
    display: flex;
    margin: 0 15%;
    /* width: 100%; */
    align-items: center;
    justify-content: center;
}
#button_hitmap{
    padding: 10px;
}
