.persona_statistique{
    margin: 10px;
    width: 75% !important;
}
.persona_statistique h2{
    font-size: 1.5em;
    font-weight: bold;
    color: #000;
    margin-bottom: 10px;
}

.persona_statistique p.date_session{
font-size: 1.2em;
    font-weight: bold;
    color: #000;
    margin-bottom: 10px;
}
.persona_statistique .button_hitmap{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.container_stat_persona p{
    font-size: 1.2em;
    font-weight: bold;
    color: #9b9b9b;
    margin-bottom: 10px;
}
.container_stat_persona .stat_persona{

}

.container_detail{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
}
