:root {
    --color_background: #F4F5F7;
    --color_card: #FFFFFF;
    --color_grey: #5F5F5F;
    --color_primary: #F29F67;
    --color_secondary: #34B1AA;
    --color_tertiary: #F2C94C;
    --color_danger: #FF0000;
    --color_success: #00FF00;
    --color_font: #000000;

    --margin: 10px;
    --padding: 10px;
    --border_radius: 24px;

    --font-lexend: 'Lexend', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div.card {
    background-color: var(--color_card);
    font-family: 'Roboto', sans-serif;
    border-radius: var(--border_radius);
    color: var(--color_font);
    /* border: 1px solid var(--color_font); */
    box-sizing: content-box;
    display: flex;
    margin: var(--margin);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 230px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    height: max(150px, auto);
}

#content h1 {
    margin: 15px 0 25px 0;
}

div.filtre {
    justify-content: normal;
    justify-content: start;
    overflow-y: scroll;
    width: 20%;
    position: relative;
}

div.element_filtre {
    border-radius: var(--border_radius);
    width: 100%;
    text-align: center;
    justify-content: center;
    height: 50px;
    display: flex;
}

div .nom_element {
    margin-top: 12px;
    margin-bottom: 12px;
}

div .nom_element {
    margin-top: 12px;
    margin-bottom: 12px;
}

div.element_filtre:hover {
    cursor: pointer;
}

div.element_filtre.active {
    background-color: var(--color_primary);
}

a.gotoElement {
    border-radius: var(--border_radius);
    background-color: var(--color_background);
    width: 40px;
    height: 40px;
    padding-top: 6px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    bottom: 10px;
    z-index: 99;
    margin: var(--margin);
}

#sidebar {
    display: flex;
    height: 100%;
}

#listElement {
    overflow-y: scroll;
    width: 100%;
}

div.filtre::-webkit-scrollbar {
    width: 0 !important
}


/* width */

#listElement::-webkit-scrollbar {
    width: 5px;
}

/* Track */

#listElement::-webkit-scrollbar-track {
    background: var(--color_background);
    border: var(--border_radius);
    margin: var(--margin);
}

#sidebar {
    display: flex;
    height: 100%;
}

#listElement {
    overflow-y: scroll;
    width: 100%;
    height: 90%;
}

div.filtre::-webkit-scrollbar {
    width: 0 !important
}


#listElement::-webkit-scrollbar {
    width: 5px;
}

#listElement::-webkit-scrollbar-track {
    background: var(--color_background);
    border: var(--border_radius);
}

/* Handle */

#listElement::-webkit-scrollbar-thumb {
    background: var(--color_secondary);
}

#notHideContent {
    height: auto;
}


button {
    border: none;
    border-radius: var(--border_radius);
    background-color: var(--color_secondary);
    width: 100%;
    height: 50px;
    font-size: 1.2em;
    font-weight: lighter;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

button :hover {
    cursor: pointer;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    transition: all 0.3s ease-in-out;
}

input[type="checkbox"]:not(:checked) {
    transform: scale(1);
}

input[type="checkbox"]:checked {
    transform: scale(1.2);
}

#formTemplate input[type="color"] {
    width: 60px;
    height: 40px;
    transition: background-color 0.3s ease;
    background-color: #ffffff;
    border: none;
}

#formTemplate input[type="text"] {
    width: 100%;
    height: 40px;
    transition: background-color 0.3s ease;
    background-color: #dadada;
    border: none;
    border-radius: var(--border_radius);
    padding: 4px 0px 4px 15px;
}

a, a:hover, a:active, a:visited {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

button#backButton {
    width: 100px;
    position: absolute;
    left: 30px;
}
