div.filtre_persona{
    width: 60%;
}
div.persona {
    border-radius: var(--border_radius);
    width: 100%;
    text-align: center;
}

div.persona:hover{
    cursor: pointer;
}
div.persona.active{
    background-color: var(--color_primary);
}

