div.filtre_persona{
    justify-content: normal;
    overflow: hidden;
    width: 20%;
    position: relative;
}
div.persona {
    border-radius: var(--border_radius);
    width: 100%;
    text-align: center;
    justify-content: center;
    height : 50px;
}

div .nom_persona{
    margin-top:12px;
}
div.persona:hover{
    cursor: pointer;
}
div.persona.active{
    background-color: var(--color_primary);
}

a.gotoPersonas{
    border-radius: var(--border_radius);
    background-color: var(--color_background);
    width:40px;
    height:40px;
    padding-top: 6px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    bottom:10px;
    z-index: 99;
}
